[Unit]
Description=Keyboard macros with capslock as modifier key

[Service]
User=root
WorkingDirectory=/root/capsmacro
ExecStart=/bin/sh -c '/bin/intercept -g /dev/input/event3 | /bin/python3 /root/capsmacro/macro.py | /bin/uinput -d /dev/input/event3'
# optional items below
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
